{% load static %}

<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>
                {% if user.is_authenticated %}
                {% if user.role == "cluster" %}
                <li>
                    <a href="/cluster_dashboard/">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>
                {% elif user.role == "employee" %}
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="mdi mdi mdi-ballot-recount-outline font-size-16 align-middle me-1"></i>
                        <span data-key="t-apps">Transaction</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="/add_transaction/">
                                <i class="mdi mdi mdi-handshake font-size-16 align-middle me-1"></i>
                                <span data-key="t-shop">New Transaction</span>
                            </a>
                        </li>
                        <li>
                            <a href="/transaction_list/">
                                <i class="mdi mdi-format-list-bulleted font-size-16 align-middle me-1"></i>
                                <span data-key="t-shop">Transaction List</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="mdi mdi mdi-store font-size-16 align-middle me-1"></i>
                        <span data-key="t-apps">Shop</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="/addshop/">
                                <i class="mdi mdi mdi-store-plus font-size-16 align-middle me-1"></i>
                                <span data-key="t-shop">Add Shop</span>
                            </a>
                        </li>
                        <li>
                            <a href="/shop_list/">
                                <i class="mdi mdi-format-list-bulleted font-size-16 align-middle me-1"></i>
                                <span data-key="t-shop">shop List</span>
                            </a>
                        </li>

                    </ul>
                </li>
                
                {% endif %}
                {% endif %}
                <li>
                    <a href="/logout/">
                        <i class="mdi mdi-logout font-size-16 align-middle me-1"></i>
                        <span data-key="t-horizontal">LogOut</span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
    </div>
</div>