{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Add Shop Owner |recycle bandi {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Add Shop</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">shop</a></li>
                                <li class="breadcrumb-item active">Add Shop</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <form id="">
                                    <input type="hidden">
                                    <div class="row">
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="first_name">Cluster Aera</label>
                                          <select class="form-select form-control" id="clusteraera" aria-label="Default select example">
                                            <option selected>select cluster aera</option>
                                            {% for item in clusteraera %}
                                            <option value="{{item.id}}">{{item.cluster_aera}}</option>
                                            {% endfor %}
                                          </select>
                                          
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="first_name">Owner First Name</label>
                                          <input type="text" id="first_name" required data-pristine-required-message="Please Enter shop owner name"  class="form-control" placeholder="Please Enter First Name" aria-describedby="error-first_name"  autocomplete="off">
                                          
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="last_name">Owner Last Name</label>
                                          <input type="text" id="last_name" name="first_name"  required data-pristine-required-message="Please Enter last name" autocomplete="off" class="form-control" placeholder="Please Enter Last Name" aria-describedby="error-last_name" aria-invalid="true">
                                          
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="email">Owner Email</label>
                                          <input type="email" id="email" required data-pristine-required-message="Please Enter a Email" autocomplete="off" class="form-control" placeholder="Please Enter Email" aria-describedby="error-email" aria-invalid="true">
                                         
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="phone">Phone Number</label>
                                          <input type="tel" id="phone" required data-pristine-required-message="Please Enter phone number" autocomplete="off" class="form-control" placeholder="Please Enter Phone Number" aria-describedby="error-phone" aria-invalid="true">
                                         
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="shop_name">Shop Name</label>
                                          <input type="text" id="shop_name" required data-pristine-required-message="Please Enter shop name" autocomplete="off" class="form-control" placeholder="Please Enter Shop Name" aria-describedby="error-shop_name" aria-invalid="true">
                                        
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <label for="shop_type" class="form-label">Shop Type</label>
                                        <select class="form-select" id="shop_type" name="shop_type" aria-label="Shop Type">
                                          <option selected>Please Select Shop Type</option>
                                          <option value="panshop">Pan Shop</option>
                                          <option value="teashop">Tea Shop</option>
                                          <option value="hospital">Hospital</option>
                                          <option value="restaurant">Restaurant</option>
                                        </select>
                                      </div>
                                      <!-- <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label class="form-label">RCB Agreement</label><br/>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="rcb_agreement" id="agree" value="True" checked>
                                            <label class="form-check-label" for="agree">Agree</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="rcb_agreement" id="not_agree" value="False">
                                            <label class="form-check-label" for="not_agree">Not Agree</label>
                                          </div>
                                        </div>
                                      </div> -->
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="area">Area</label>
                                          <input type="text" id="area" required data-pristine-required-message="Please Enter area name" autocomplete="off" class="form-control" placeholder="Please Enter Area Name" aria-describedby="error-area" aria-invalid="true">
                                         
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="city">City</label>
                                          <input type="text" id="city" required data-pristine-required-message="Please Enter city name" autocomplete="off" class="form-control" placeholder="Please Enter City Name" aria-describedby="error-city" aria-invalid="true" value="Guntur">
                                          
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="state">State</label>
                                          <input type="text" id="state" required data-pristine-required-message="Please Enter state name" class="form-control" placeholder="Please Enter State Name" aria-describedby="error-state" aria-invalid="true" value="Andhra Pradesh">
                                         
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <div class="form-group mb-3 has-danger">
                                          <label for="zip_code">Zip Code</label>
                                          <input type="text" id="zip_code" required data-pristine-required-message="Please Enter zip code" autocomplete="off" class="form-control" placeholder="Please Enter Zip Code" aria-describedby="error-zip_code" aria-invalid="true">
                                        
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group mb-3 form-check has-danger">
                                      <input id="term-check01" type="checkbox" class="form-check-input" name="terms" required data-pristine-required-message="You must accept the terms and conditions" aria-describedby="error-term-check01" aria-invalid="true">
                                      <label class="form-check-label" for="term-check01">I accept the terms and conditions</label><br>
                                     
                                    </div>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-primary" onclick="saveshopowner()">Submit form</button>
                                    </div>
                                  </form>
                                  
                            </div>
                        </div>
                    </div>
                   
                </div>
             
            </div>
            
        </div> 
    </div>
   


   
</div>
{% endblock content %}
{% block javascripts %}
<script src="{% static 'assets/js/shop/add_shop.js' %}"></script>
{% endblock javascripts %}
