{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Dashboard|siftech {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Shop List</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">shop</a></li>
                                <li class="breadcrumb-item active">shoplist</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datatable-buttons"
                                            class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline"
                                            aria-describedby="datatable-buttons_info" style="width: 1094px;">
                                            <thead>
                                                <tr>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="datatable-buttons" rowspan="1" colspan="1"
                                                        style="width: 172.333px;" aria-sort="ascending"
                                                        aria-label="Owner Name: activate to sort column descending">Owner Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                        rowspan="1" colspan="1" style="width: 258.333px;"
                                                        aria-label=" Phone Number: activate to sort column ascending">
                                                        Phone Number</th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                        rowspan="1" colspan="1" style="width: 124.333px;"
                                                        aria-label="Shop Name: activate to sort column ascending">Shop Name
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                        rowspan="1" colspan="1" style="width: 58.3333px;"
                                                        aria-label="Area: activate to sort column ascending">Area</th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                        rowspan="1" colspan="1" style="width: 118.333px;"
                                                        aria-label="City: activate to sort column ascending">City
                                                        </th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                        rowspan="1" colspan="1" style="width: 106.333px;"
                                                        aria-label="State: activate to sort column ascending">State
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1" style="width: 106.333px;"
                                                    aria-label="Cluster Aera: activate to sort column ascending">Cluster Aera
                                                </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for item in shop %}
                                                <tr class="odd">
                                                    <td class="dtr-control sorting_1" tabindex="0">{{item.user}}</td>
                                                    <td>{{item.user.phone}}</td>
                                                    <td>{{item.shop_name}}</td>
                                                    <td>{{item.area}}</td>
                                                    <td>{{item.city}}</td>
                                                    <td>{{item.state}}</td> 
                                                    <td>{{item.cluser_aera.cluster_aera}}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end cardaa -->
                </div> <!-- end col -->
            </div>
             <!-- end row -->
        </div> 
    </div>
    <!-- End Page-content -->


   
</div>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
