{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- PageTitle -->
<!-- <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="heading">Login</h3>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li><p class="fs-18">/</p></li>
              <li><p class="fs-18">Login</p></li>
            </ul>
          </div>
        </div>
      </div>
    </section> -->
<!-- End PageTitle -->

<section class="register login">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block-text center">
          <img class="mb-5" id="site-logo" src="{% static 'assets/images/logo/logo-final.png' %}" alt="" width="258"
            height="52" data-retina="assets/images/logo/logo@2x.png" data-width="118" data-height="32" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="flat-tabs">
          <div class="content-tab">
            <div class="content-inner">
              <form id="forgotPasswordForm">
                <div class="form-group">
                  <label for="forgotEmail">Enter your email address</label>
                  <input type="email" class="form-control" id="forgotEmail" placeholder="Email address" required />
                </div>
                <button type="button" class="btn-action">Send Reset Link</button>
                <div class="form-group  mt-3 ">

                  <p class="text-center"><a href="/login/">Back to Login</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section-sale">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="block-text">
          <h4 class="heading">Earn up to $25 worth of crypto</h4>
          <p class="desc">
            Discover how specific cryptocurrencies work — and get a bit of
            each crypto to try out for yourself.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="button">
          <a href="#">Create Account</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

{% endblock %}