{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Add New Transaction |recycle bandi {% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<style>
    @media (min-width: 768px) {
        .given_bags {
           text-align: center;
          }
      }

</style>
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Transaction</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Transaction</a></li>
                                <li class="breadcrumb-item active">New Transaction</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <form id="transaction">
                                  <input type="hidden" name="waste_obj" id="waste_obj" value="{{waste_obj_json}}">
                                  <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                                      <div class="form-group mb-3 has-danger">
                                        <label for="first_name">Cluster Aera</label>
                                        <select class="form-select form-control" id="cluster_aera" onchange="cluster_aera_shop_list()"
                                          aria-label="" required>
                                          <option selected>select cluster aera</option>
                                          {% for item in clusteraera %}
                                          <option value="{{item.id}}">{{item.cluster_aera}}</option>
                                          {% endfor %}
                                        </select>
                                
                                      </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                                      <div class="form-group mb-3 has-danger">
                                        <label for="first_name">Shop Owner</label>
                                        <select class="form-select form-control" id="Select2" aria-label="" required>
                                          <option selected>Open this select menu </option>
                                          {% for item in owners %}
                                          <option value="{{item.id}}">{{item.user.first_name}}|{{item.shop_name}}</option>
                                          {% endfor %}
                                        </select>
                                
                                      </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                                      <div class="form-group mb-3 has-danger given_bags">
                                        <label for="shop_name" class="form-label">Given Bags</label><br />
                                        <label class="form-check-label" for="gridRadios2">YES</label>
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="yes" checked>
                                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                                        <label class="form-check-label" for="gridRadios2">NO</label>
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="no">
                                
                                      </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 lifted">
                                      <div class="form-group mb-3 has-danger">
                                        <label for="shop_name" class="form-label">Lifted status</label><br />
                                        <label class="form-check-label" for="gridRadios3">YES</label>
                                        <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios3" value="yes" checked>
                                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                                        <label class="form-check-label" for="gridRadios4">NO</label>
                                        <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios4" value="no">
                                      </div>
                                    </div>
                                    <div class="row mt-4">
                                      <div class="col-sm-12 col-md-3 col-lg-3">
                                        <label for="waste_type_select2" class="form-label">Waste Type</label>
                                        <select class="form-select" id="waste_type_select2" aria-label="Default select example">
                                          <option selected>Open this select menu</option>
                                          {% for item in waste %}
                                          <option value="{{item.id}}">{{item.wastename}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                      <div class="col-sm-12 col-md-2 col-lg-2">
                                        <label for="quantity_1" class="form-label">Quantity</label>
                                        <input type="text" class="form-control" id="quantity_1" name="quantity_1" placeholder="Please enter quantity" autocomplete="off"
                                          aria-label="Quantity">
                                      </div>
                                      <div class="col-sm-12 col-md-2 col-lg-2">
                                        <label for="price_1" class="form-label">Price</label>
                                        <input type="text" class=" form-control" id="price_1" name="price_1" placeholder="Please enter price" autocomplete="off"
                                          aria-label="price">
                                      </div>
                                      <div class="col-sm-12 col-md-3 col-lg-2">
                                        <label for="total_price_1" class="form-label">Total Price</label>
                                        <input type="text" class="form-control" id="total_price_1" name="total_price_1" onchange="updateTotalAmount()" readonly>
                                      </div>
                                      
                                      <!-- <input type="" class="form-control" id="total_price_1" name="total_price_1" readonly style="width: 15%;"> -->
                                      <div class="col-sm-12 col-md-2 col-lg-2 my-auto">
                                        <button type="button" class="btn btn-primary mt-4" onclick="addProductField()">+ADD</button>
                                      </div>
                                    </div>
                                    <div id="dynamicFieldsContainer"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 mt-3">
                                      <label for="total_amount" class="form-label">Totoal Amount</label>
                                      <input type="text" class="form-control" id="total_amount" name="total_amount" placeholder="total amount" onchange="myvalu()"
                                        aria-label="total_amount" readonly>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 mt-3">
                                      <label for="paid_amount" class="form-label">Paid Amount</label>
                                      <input type="text" class="form-control" id="paid_amount" name="paid_amount" placeholder="Please enter paid amount" 
                                        aria-label="paid_amount">
                                    </div>
                                    <div class="form-group">
                                      <button type="button" class="btn btn-primary mt-4" onclick="save_trnscation()">Submit form</button>
                                    </div>
                                </form>
                                  
                            </div>
                        </div>
                    </div>
                   
                </div>
             
            </div>
            
        </div> 
    </div>
   


   
</div>
{% endblock content %}
{% block javascripts %}

<script src="{% static 'assets/js/transaction/add_transaction.js' %}"></script>
{% endblock javascripts %}
